<script>
    function scrollToPreviousSection() {
        var previousSectionId = "{{previous_section}}";
        var servicesSection = document.getElementById(previousSectionId);
        if (servicesSection) {
            servicesSection.scrollIntoView({ behavior: 'smooth' });
        }
    }

    function redirectToHomepageIfReload() {
        if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_RELOAD) {
            window.location.href = "/"; 
        }
    }

    window.onload = function() {
        {% if msg_sent==False %}
            scrollToPreviousSection();
        {% endif %}
            redirectToHomepageIfReload();
        {% if msg_sent %} 
            window.scrollTo(0, document.getElementById('contact').offsetTop);
        {% set msg_sent=False %}
        {% endif %}  
    };
</script>
