<section class="contact" id="contact">
    {% if msg_sent: %}
        <h2 class="heading">Submitted<span> successfully</span></h2>
    {% else: %}
        <h2 class="heading">Contact <span>Me</span></h2>
    {% endif %}
    <form action="{{ url_for('acknowledge') }}" method="post">
        {{ form.csrf_token }}
        <div class="input-group">
            <div class="input-box">
                {{ form.fullname }}
                {% for error in form.fullname.errors %}
                {{ error }}
                {% endfor %}
                {{ form.email }}
                {% for error in form.email.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="input-box">
                {{ form.phone }}
                {% for error in form.phone.errors %}
                {{ error }}
                {% endfor %}
                {{ form.subject }}
                {% for error in form.subject.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>

        <div class="input-group-2">
            {{ form.message }}
            {{ form.submit }}
        </div>
    </form>
</section>
