<section class="education" id="education">
    <h2 class="heading">Education</h2>
    <div class="timeline-items">
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">2019</div>
            <div class="timeline-content">
                <h3>High School</h3>
                <p>Schooling at Star World High School in Nizamabad, Telangana, was an enriching journey filled with learning and joy. Fond memories and valuable lessons made every moment unforgettable! 😁🎓</p>

            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">2021</div>
            
            <div class="timeline-content">
                <h3>Intermediate</h3>
                <p>Completing my Plus Two at S.R Junior College in Nizamabad, Telangana, marked the beginning of the real competition in my life. Here, I embraced challenges and prepared myself for the exciting journey ahead. 🚀📚</p>
                
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">2025</div>
            
            <div class="timeline-content">
                <h3>Engineering</h3>
                <p>Currently pursuing Computer Science at Gokaraju Rangaraju College of Engineering and Technology, I'm fueled by the drive to excel and forge ahead in my journey. 🚀🎓                </p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-dot"></div>
                <div class="timeline-date">2025 to ..</div>
            
            <div class="timeline-content">
                <h3>Updating</h3>
                <p>Coming soon..</p>
                
            </div>
        </div>
    </div>
</section>
