<footer class="footer">
    <div class="social">
            <a href="https://www.linkedin.com/in/bhuvaneshwar-marri/" target=_blank><i class='bx bxl-linkedin' ></i></a>
            <a href="https://github.com/BhuvaneshwarMarri" target=_blank><i class='bx bxl-github' ></i></box-icon></a>
            <a href="mailto:bhuvaneshwarmarri@gmail.com"><i class='bx bxl-gmail' ></i></box-icon></a>
            <a href="https://twitter.com/MarriBhuva71582" target=_blank><i class="bi bi-twitter-x"></i></box-icon></a>
    </div>
    <ul class="list">
        <li>
            <a href="#">FAQ</a>
        </li>
        <li>
            <a href="#skills">Skills</a>
        </li>
        <li>
            <a href="#">About Me</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <p class="copyright">
        © Copyright {{year}} Bhuvaneshwar Marri | All Rights Reserved.
    </p>
</footer>