<section class="home" id="home">
    <div class="home-content">
        <h1>Hi, It's <span>Bhuvaneshwar</span></h1>
        <h3 class="text-animation">I'm a <span></span></h3>
        <p>I'm a Python Developer who loves solving problems and exploring new technologies. From building websites to analyzing data, I enjoy creating solutions that make a difference. Let's connect and work on exciting projects together!
        </p>

            <div class="social-icons">
                <a href="https://www.linkedin.com/in/bhuvaneshwar-marri-2a3b24248/" target=_blank><i class='bx bxl-linkedin' ></i></a>
                <a href="https://github.com/BhuvaneshwarMarri" target=_blank><i class='bx bxl-github' ></i></box-icon></a>
                <a href="mailto:bhuvaneshwarmarri@gmail.com"><i class='bx bxl-gmail' ></i></box-icon></a>
                <a href="https://twitter.com/MarriBhuva71582" target=_blank><i class="bi bi-twitter-x"></i></box-icon></a>
            </div>

            <div class="btn-group">
                <a href="https://drive.google.com/file/d/116TfgmB031lbSIV06RRioO4UnetU_aEN/view?usp=sharing" class="btn" target=_blank>Resume</a>
                <a href="#contact" class="btn">Contact</a>
            </div>
    </div>
    <div class="home-img">
        <img src="../static/anime_profile.jpeg" alt="">
    </div>
</section>