<section class="projects" id="projects">
    <h2 class="heading">Projects</h2>
    <br><br><br><br><br><br><br><br>
    <div class="carousel-container">
        <div class="carousel">
            <div class="carousel-item">
                <img src="./static/Project_photos/UA.png" alt="Urban Access">
                <h3>URBAN ACCESS</h3>
                <p>An Android app for generating virtual bus passes.<a href="https://github.com/Nagarajukasarla/UrbanAccess">Learn more</a></p>
            </div>
            <div class="carousel-item">
                <img src="./static/anime_profile.jpeg" alt="Portfolio">
                <h3>My Portfolio</h3>
                <p>A glimpse into my journey.<a href="https://github.com/BhuvaneshwarMarri/MyPortfolio">Explore</a></p>
            </div>
            <div class="carousel-item">
                <img src="./static/Project_photos/webopen.png" alt="webopen">
                <h3>webopen</h3>
                <p>An open-source Python package for browser automation.<a href="https://pypi.org/project/webopen">Discover</a></p>
            </div>
            <div class="carousel-item">
                <img src="./static/Project_photos/justnews.png" alt="Just News">
                <h3>Just News</h3>
                <p>A React app delivering daily news updates.<a href="https://github.com/BhuvaneshwarMarri/Just-News">Read more</a></p>
            </div>
            <div class="carousel-item">
                <img src="./static/Project_photos/top99songs.png" alt="Top 99 Songs">
                <h3>Top 99 Songs</h3>
                <p>A CLI tool to create a Spotify playlist of top songs from any day.<a href="https://github.com/BhuvaneshwarMarri/Top-99-songs">Check it out</a></p>
            </div>
        </div>
        <div class="carousel-controls">
            <button id="prevBtn">&#10094;</button>
            <button id="nextBtn">&#10095;</button>
        </div>
    </div>
    
    <script>
        const carousel = document.querySelector('.carousel');
        const items = document.querySelectorAll('.carousel-item');
        let angle = 0;
        const angleIncrement = 360 / items.length;

        document.getElementById('nextBtn').addEventListener('click', () => {
            angle -= angleIncrement;
            carousel.style.transform = `rotateY(${angle}deg)`;
        });

        document.getElementById('prevBtn').addEventListener('click', () => {
            angle += angleIncrement;
            carousel.style.transform = `rotateY(${angle}deg)`;
        });
    </script>
</section>