<section class="services" id="services">
    <div class="services-box">
        <h3 class="heading">Services</h3>
        <div class="wrapper">
            <div class="services-item">
                <img src="../static/image.png" alt="">
                <h2>Coding</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aspernatur et, consequuntur commodi incidunt odio unde quasi sint laborum, molestiae eum aperiam ratione distinctio aut magnam aliquid deserunt nulla laudantium!</p>
            </div>
            <div class="services-item">
                <img src="../static/image.png" alt="">
                <h2>Sports</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aspernatur et, consequuntur commodi incidunt odio unde quasi sint laborum, molestiae eum aperiam ratione distinctio aut magnam aliquid deserunt nulla laudantium!</p>
            </div>
            <div class="services-item">
                <img src="../static/image.png" alt="">
                <h2>Music</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aspernatur et, consequuntur commodi incidunt odio unde quasi sint laborum, molestiae eum aperiam ratione distinctio aut magnam aliquid deserunt nulla laudantium!</p>
            </div>
        </div>
    </div>
</section>