<section class="skills" id="skills">
    <h2 class="heading">Skills</h2>
    <div class="skills-container">
        <div class="skill-box">
            <div class="skill-info">
                <h4>JAVA</h4>
                <i class='bx bxl-java' ></i>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h4>Python</h4>
                <i class='bx bxl-python'></i>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h4>HTML</h4>
                <i class='bx bxl-html5' ></i>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h4>CSS</h4>
                <i class='bx bxl-css3' ></i>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h4 class="inline">ORACLE-SQL</h4>
                <i class='bx bx-data' ></i>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h4 class="inline">Visual Studio</h4>
                <i class='bx bxl-visual-studio'></i>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h4>Git</h4>
                <i class='bx bxl-git' ></i>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h4>Flask</h4>
                <i class='bx bxl-flask' ></i>
            </div>
        </div>
    </div>
</section>